.btn {
  transition: all 0.5s;
}

.btn-primary {
  border: 2px solid $brand-primary;
  background: transparent;
  color: $brand-primary !important;
  border-radius: 0;
  font-size: 22px;
  font-weight: bold;
  width: 215px;
  margin-top: 10px;
  &:hover,
  &:active,
  &:focus {
    color: #ffffff !important;
  }
}

// Small devices (tablets, 768px and up)
@media only screen and (min-width: $screen-sm-min) {
  .btn-primary {
    margin-top: 30px;
  }
}


// Medium devices (desktops, 992px and up)
@media only screen and (min-width: $screen-md-min) {}
