.social-container {
  background-color: #5ba459;
  text-align: center;
  .social {
    display: inline-block;
    padding: 30px 0;
    a {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      display: inline-block;
      background-color: #ffffff;
      text-align: center;
      margin-right: 10px;
      transition: all 0.5s;
      &:hover,
      &:active {
        background-color: $brand-primary;
        i {
          color: #ffffff;
        }
      }
      &:last-child {
        margin: 0;
      }
      i {
        color: #5ba459;
        font-size: 25px;
        line-height: 50px;
      }
    }
  }
}

.content-info {
  margin-top: 15px;
  padding: 20px 0 30px;
  background-color: #f4f7f5;
  .footer-contact {
    max-width: 885px;
    margin: 0 auto;
    .brand {
      margin-top: 2px;
      margin-right: 80px;
    }
    .contact-info-container {
      padding: 0 30px;
      .contact-info {
        font-size: 17px;
        line-height: 1.3;
        font-weight: 500;
        padding: 9px 0;
        color: $brand-primary;
        .contact-info-block {
          &:nth-child(-n+2) {
            width: 50%;
            float: left;
            text-align: center;
            margin-bottom: 15px;
          }
          a {
            color: #5ba459;
          }
          .btn-primary {
            margin-top: 10px;
            width: 100%;
            font-size: 12.45px;
            text-transform: uppercase;
          }
        }
      }
      .copywrite {
        margin-top: 12px;
        text-align: center;
        font-size: 12px;
        color: #5ba459;
      }
    }
  }
}

// Small devices (tablets, 768px and up)
@media only screen and (min-width: $screen-sm-min) {
  .content-info {
    padding: 50px 0;
    .footer-contact {
      .contact-info-container {
        padding: 0;
        width: 610px;
        margin: 0 auto;
        .contact-info {
          display: table;
          border-top: 3px solid $brand-primary;
          border-bottom: 3px solid $brand-primary;
          .contact-info-block {
            width: 33.333333%;
            display: table-cell;
            vertical-align: middle;
            .btn-primary {
              margin: 0 0 9px 0;
              width: 175px;
              float: right;
              &:last-child {
                margin: 0;
              }
            }
            &.middle {
              padding-left: 15px;
            }
            &:nth-child(-n+2) {
              width: 33.333333%;
              float: none;
              text-align: left;
            }
          }
        }
        .copywrite {
          text-align: right;
        }
      }
    }
  }
}

// Medium devices (desktops, 992px and up)
@media only screen and (min-width: $screen-md-min) {
  .content-info {
    padding: 93px 0 75px 0;
    .footer-contact {
      .contact-info-container {
        float: left;
      }
    }
  }
}
