.banner {
  background-color: #f4f7f5;
  padding: 30px 0;
  .nav-primary {
    width: 37%;
    float: left;
    padding-top: 45px;
    ul {
      &.right {
        li {
          margin-left: auto;
          &:first-of-type {
            margin: 0;
          }
        }
      }
      &.left {
        li {
          margin-right: auto;
          &:last-of-type {
            margin: 0;
          }
        }
      }
      a {
        padding: 0;
        color: $brand-primary;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        &:hover,
        &:focus {
          background-color: transparent;
        }
      }
    }
  }
  .brand {
    width: 26%;
    padding: 0 3%;
    float: left;
    text-align: center;
    img {
      max-width: 195px;
    }
  }
}
